[Unit]
Description=PalDeck API (Django/DRF via gunicorn)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/projeto-palworld/api
EnvironmentFile=/home/ubuntu/projeto-palworld/api/.env
ExecStart=/home/ubuntu/projeto-palworld/venv/bin/gunicorn core.wsgi:application --bind 127.0.0.1:8001 --workers 3
Restart=on-failure

[Install]
WantedBy=multi-user.target
